__pycache__/
*.pyc
*.pyo
*.pyd
idea.txt
*.egg-info/
error_log.txt
paper/
.conda/
.vscode/
.VSCodeCounter/
.github/

models/
exp_max_layers_*/
exp3_results/
saved_models/
plots/
no_eps/
experiment_results/
results/
*.json
*.svg
best_models/
experiments/embodied_bird/results/